{% extends 'base.html' %}
{% load static %}

{% block title %}Set New Password - Marketplace{% endblock %}

{% block content %}
<div class="container" style="max-width: 500px; margin: 3rem auto;">
    <h1>Set New Password</h1>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">New Password</label>
            {{ form.new_password1 }}
        </div>
        <div class="form-group">
            <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
            {{ form.new_password2 }}
        </div>
        <button type="submit" class="btn btn--primary" style="width: 100%;">Change Password</button>
    </form>
</div>
{% endblock %}

